<div class="footer mt-5 pt-3">
  <div class="container col-8 text-center">
    <div class="age-warning mb-3">
      <p class="mb-0">L’abus d’alcool est dangereux pour la santé, à consommer avec modération.</p>
      <p class="mb-0">La consommation d’alcool est vivement déconseillée aux femmes enceintes. La vente d'alcool à des mineurs de moins de 18 ans est interdite.</p>
      <p class="mb-0 pb-2">En accédant à ce site, vous déclarez avoir 18 ans révolus.</p>
    </div>
    <div class="pb-3">
      <p class="mb-0">
        <i class="far fa-copyright"></i> Alexandre FRASCHINI 
        <%= link_to "https://www.linkedin.com/in/alexandre-fraschini/" do %>
          <i class="fab fa-linkedin"></i>
        <% end %>
      </p>
      <p class="mb-0">Tous droits réservés | <%= link_to "Mentions légales", "#" %></p>
    </div>
  </div>
</div>
