.navbar-lewagon {
  justify-content: space-between;
  background: rgb(254, 217, 37);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

  .dropdown-toggle:hover {
    cursor: pointer;
  }

  .dropdown-toggle:after {
    content: none;
  }

  .nav-button p {
    // font-family: 'Ranchers', cursive;
    font-family: 'Bevan', cursive;
    // font-family: 'Lobster', cursive;
    font-size: 0.8em;
  }

  .nav-button i {
    font-size: 1.3em;
  }
}

.navbar-lewagon .navbar-brand {
  padding: 0;

  img {
    height: 50px;
  }

  h1 {
    font-size: 1.3em;
    // font-family: 'Ranchers', cursive;
    font-family: 'Bevan', cursive;
    // font-family: 'Lobster', cursive;
  }
}
