.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

  .dropdown-toggle:hover {
    cursor: pointer;
  }
}

.navbar-lewagon .navbar-brand {
  padding: 0;

  img {
    height: 40px;
  }

  h1 {
    font-size: 1.5em;
  }
}
