// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.tasting-details .photo img {
  height: 400px;
}

// New beer/wine Forms
#new_beer_tasting {
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5;
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5;
  }
}

#new_wine_tasting {
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5;
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5;
  }
}

#beer_tasting_tasting_date, #wine_tasting_tasting_date {
  margin: 0 !important;
}

// Home page
.card-tasting {
  width: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(82, 82, 82, 0.2) 0px 1px 6px 0px;
  color: initial;

  img {
  max-width: 120px;
  max-height: 120px;
  object-fit: scale-down;
  border-radius: 4px;
  }

  &:hover {
    text-decoration: none;
  }
}

// Indexes
.index-banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;
  ;
}

.img-thumbnail img {
  max-width: 60px;
  max-height: 60px;
  object-fit: scale-down;
}

// Shows
.tasting-details .photo img {
  max-width: 400px;
  max-height: 400px;
  object-fit: scale-down;
}
